<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
    <span>Menú</span>
    <span class="spacer"></span>
    <button mat-icon-button
            (click)="sidenav.toggle()"
      >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-nav-list>
    <a routerLink="/operarios/listado"
       mat-list-item
       (click)="sidenav.toggle()"
       >
       <mat-icon mat-list-icon>person_outline</mat-icon>
      <span>Operarios</span>
    </a>
    <a routerLink="/remiseros/listado"
       mat-list-item
       (click)="sidenav.toggle()"
       >
       <mat-icon mat-list-icon>local_taxi</mat-icon>
      <span>Remiseros</span>
    </a>
    <a routerLink="./buscar"
       mat-list-item
       (click)="sidenav.toggle()"
       >
       <mat-icon mat-list-icon>summarize</mat-icon>
      <span>Reportes</span>
    </a>
  </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button
            (click)="sidenav.toggle()"
      >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button>
      Logout
    </button>
  </mat-toolbar>
  <div class="container">
    <router-outlet>
    </router-outlet>
  </div>
</mat-sidenav-container>
