<mat-grid-list cols="1" *ngIf="!remisero; else divOperario">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>



<ng-template #divOperario>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="30px"
    >
    <div fxFlex="50">
      <h1>{{remisero.apellido}}<small> {{remisero.nombre}} </small></h1>
      <mat-divider></mat-divider>
      <br>
      <img [src]="remisero | image" class="rounded">
    </div>
    <div fxFlex="50">
      <h1>Datos Personales</h1>
      <mat-divider></mat-divider>

      <mat-list>
        <mat-list-item>DNI: {{remisero.dni}}</mat-list-item>
        <mat-list-item>Estado: {{remisero.estado}}</mat-list-item>
        <mat-list-item>Vehiculo: {{remisero.vehiculo}}</mat-list-item>
        <mat-list-item>Es prestado: {{remisero.prestado? 'Si' : 'No'}}</mat-list-item>
      </mat-list>
      <br>
      <button mat-button color="warn"
                         (click)="regresar()">
        Regresar
      </button>


    </div>
  </div>
</ng-template>

