<mat-card [ngClass]="remisero.estado ? '' : 'inactive'">
  <mat-card-header>
    <mat-card-title>{{remisero.apellido}}</mat-card-title>
    <mat-card-subtitle>{{remisero.nombre}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="remisero | image">

  <mat-card-content>
    <h3>{{remisero.dni | number}}</h3>
    <mat-chip-list>
      <mat-chip
        [ngClass]="remisero.estado ? 'status-active': 'status-inactive'"
        disableRipple="true" >
        {{remisero.estado ? 'Activo' : 'Inactivo'}}
      </mat-chip>
    </mat-chip-list>

  </mat-card-content>

  <mat-card-actions>
    <button
      mat-button
      [routerLink]="['/remiseros/', remisero.id]"
      color="warn">
      Ver info...
    </button>
    <button
      mat-button
      [routerLink]="['/remiseros/editar/', remisero.id]"
      color="info">
      Editar
    </button>
  </mat-card-actions>
</mat-card>
