<h1>
  {{ remisero.id ? 'Editar' : 'Nuevo'  }}
  Remisero
</h1>

<div fxLayout="row"
  fxLayoutGap="40px"
  fxLayout.xs="column"
  >

  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row"
         fxLayout.xs="column"
      fxLayoutGap="20px">
      <mat-form-field fxFlex="100" fxLayout.xs="column">
        <mat-label>Apellido</mat-label>
        <input matInput
        required
               type="text"
               [(ngModel)]="remisero.apellido"
        >
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          required
          type="text"
          [(ngModel)]="remisero.nombre"
          >
      </mat-form-field>
    </div>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="20px">
      <mat-form-field fxFlex="100">
        <mat-label>D.N.I.</mat-label>
        <input
          matInput
          required
          type="text"
          [(ngModel)]="remisero.dni"
          >
      </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Vehiculo</mat-label>
      <input matInput [(ngModel)]="remisero.vehiculo" type="number" required>
    </mat-form-field>
    </div>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="20px">
      <mat-form-field fxFlex="100">
        <mat-label>Estado</mat-label>
        <mat-select
                  [(ngModel)]="remisero.estado"
          required>
          <mat-option *ngFor="let estado of estados"
                  [value]="estado.value">
            {{estado.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Prestado</mat-label>
        <mat-select
                  [(ngModel)]="remisero.prestado"
          required>
          <mat-option *ngFor="let p of prestado"
          [value]="p.value">
            {{p.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <mat-form-field >
      <mat-label>Foto Url</mat-label>
      <input matInput
            [(ngModel)]="remisero.img"
        type="url">
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary"
      (click)="guardar()">
      <mat-icon>edit</mat-icon>
      {{remisero.id ? 'Editar': 'Guardar'}}
    </button>
  </div>
  <div fxFlex="50"
       fxLayoutAlign="center center"
    >
    <img [src]="remisero | image" class="rounded">
  </div>
</div>

