<div flexLayout="row" fxLayoutGap="20px">
  <div fxFlex="50">
    <h1>Listado de Remiseros</h1>
  </div>
  <div fxFlex="50" fxLayoutAlign="end center ">
    <button mat-raised-button color="primary" [routerLink]="['/remiseros/agregar']">
      <mat-icon>add</mat-icon>
      Nuevo
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px"
  >
  <div fxFlex="20"
       fxFlex.lg="15"
       fxFlex.sm="30"
       *ngFor="let remisero of remiseros">
    <app-remisero-card [remisero]="remisero">
    </app-remisero-card>
  </div>
</div>


