<mat-grid-list cols="1" *ngIf="!operario; else divOperario">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>



<ng-template #divOperario>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="30px"
    >
    <div fxFlex="50">
      <h1>{{operario.apellido}}<small> {{operario.nombre}} </small></h1>
      <mat-divider></mat-divider>
      <br>
      <img [src]="operario | image" class="rounded">
    </div>
    <div fxFlex="50">
      <h1>Datos Personales</h1>
      <mat-divider></mat-divider>

      <mat-list>
        <mat-list-item>DNI: {{operario.dni}}</mat-list-item>
        <mat-list-item>Direccion: {{operario.direccion}}</mat-list-item>
        <mat-list-item>Fecha de nacimiento: {{operario.fechaNacimiento}}</mat-list-item>
        <mat-list-item>Turno: {{operario.turno}}</mat-list-item>
        <mat-list-item>Direccion: {{operario.direccion}}</mat-list-item>
      </mat-list>
      <br>
      <button mat-button color="warn"
                         (click)="regresar()">
        Regresar
      </button>


    </div>
  </div>
</ng-template>

