<h1>
  {{ operador.id ? 'Editar' : 'Nuevo'  }}
  Operario
</h1>

<div fxLayout="row"
  fxLayoutGap="40px"
  fxLayout.xs="column"
  >

  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row"
         fxLayout.xs="column"
      fxLayoutGap="20px">
      <mat-form-field fxFlex="100" fxLayout.xs="column">
        <mat-label>Apellido</mat-label>
        <input matInput
        required
               type="text"
               [(ngModel)]="operador.apellido"
        >
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          required
          type="text"
          [(ngModel)]="operador.nombre"
          >
      </mat-form-field>
    </div>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="20px">
      <mat-form-field fxFlex="100">
        <mat-label>D.N.I.</mat-label>
        <input
          matInput
          required
          type="text"
          [(ngModel)]="operador.dni"
          >
      </mat-form-field>
      <mat-form-field fxLayout="100">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field >
      <mat-label>Direccion</mat-label>
      <textarea matInput [(ngModel)]="operador.direccion"></textarea>
    </mat-form-field>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="20px">
      <mat-form-field fxFlex="100">
        <mat-label>Estado</mat-label>
        <mat-select
                  [(ngModel)]="operador.estado"
          required>
          <mat-option *ngFor="let estado of estados"
                  [value]="estado.value">
            {{estado.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Turno</mat-label>
        <mat-select
                  [(ngModel)]="operador.turno"
          required>
          <mat-option *ngFor="let turno of turnos"
                  [value]="turno.desc">
            {{turno.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field >
      <mat-label>Foto Url</mat-label>
      <input matInput
            [(ngModel)]="operador.img"
        type="url">
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary"
      (click)="guardar()">
      <mat-icon>edit</mat-icon>
      {{operador.id ? 'Editar': 'Guardar'}}
    </button>
  </div>
  <div fxFlex="50"
       fxLayoutAlign="center center"
    >
    <img [src]="operador | image" class="rounded">
  </div>
</div>

