<mat-card [ngClass]="operario.estado ? '' : 'inactive'">
  <mat-card-header>
    <mat-card-title>{{operario.apellido}}</mat-card-title>
    <mat-card-subtitle>{{operario.nombre}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="operario | image">

  <mat-card-content>
    <h3>{{operario.dni | number}}</h3>
    <mat-chip-list>
      <mat-chip
        [ngClass]="operario.estado ? 'status-active': 'status-inactive'"
        disableRipple="true" >
        {{operario.estado ? 'Activo' : 'Inactivo'}}
      </mat-chip>
    </mat-chip-list>

  </mat-card-content>

  <mat-card-actions>
    <button
      mat-button
      [routerLink]="['/operarios/', operario.id]"
      color="warn">
      Ver info...
    </button>
    <button
      mat-button
      [routerLink]="['/operarios/editar/', operario.id]"
      color="info">
      Editar
    </button>
  </mat-card-actions>
</mat-card>
